<h1>Messages</h1>

<%= turbo_stream_from "messages" %>

<div id="messages">
  <%= render @messages %>
</div>

<%= form_with model: Message.new, local: false do |form| %>
  <%= form.text_field :content %>
  <%= form.submit "Send" %>
<% end %>
