<h1><%= @post["title"]["rendered"] %></h1>
<p><%= @post["date"] %></p>

<div>
  <%= sanitize(@post["content"]["rendered"]) %> <!-- Make sure content is safe for rendering HTML -->
</div>

<p>Link to the post: <a href="<%= @post["link"] %>"><%= @post["link"] %></a></p>

<% if @post["jetpack_featured_media_url"] %>
  <img src="<%= @post["jetpack_featured_media_url"] %>" alt="Featured Image">
<% end %>

